<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<div class="column">
	{@render children()}
</div>

<style>
	.column {
		max-width: 76rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0rem 2.4rem;
		width: 100%;
	}
</style>
