<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<div class="field">
	{@render children()}
</div>

<style>
	.field {
		display: flex;
		align-items: center;
		height: 6.4rem;
	}
	.field > :global(mlp-number-input) {
		width: 100%;
	}
</style>
