<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<footer>
	{@render children()}
</footer>

<style>
	footer {
		display: flex;
		align-items: center;
		background-color: var(--color_grey-extra-light);
		color: #222;
		min-height: 6rem;
		padding: 2rem 0;
	}
</style>
