<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<form>
	{@render children()}
</form>

<style>
	form {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		width: 335px;
	}
</style>
