<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<header>
	{@render children()}
</header>

<style>
	header {
		display: flex;
		align-items: center;
		background-color: var(--color_grey-extra-light);
		min-height: 10rem;
		padding: 2rem 0rem;
	}
</style>
