<script lang="ts">
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<main>
	{@render children()}
</main>

<style>
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 4rem;
		width: 100%;
	}
</style>
