<script lang="ts">
	import type { EventHandler, Props } from './utils';

	let {
		id,
		label,
		name,
		value = 0,
		onInput = ({ target }) => {
			value = target.value;
		},
		...otherProps
	}: {
		name: string;
		id: string;
		label: string;
		value?: number;
		onInput: EventHandler<{ target: { value: number } }>;
	} = $props();
</script>

<mlp-number-input {...otherProps} {name} {id} {label} {value} oninput={onInput}></mlp-number-input>
