<script lang="ts">
	import type { ToggledEvent } from '@mlaopane/web-components';
	import type { Props } from './utils';

	let {
		inputId,
		labelId,
		label = '',
		name,
		onToggled
	}: {
		inputId: string;
		labelId?: string;
		label: string;
		name: string;
		onToggled: (event: ToggledEvent) => void;
	} = $props();
</script>

<mlp-switch {inputId} {label} {labelId} {name} ontoggled={onToggled}></mlp-switch>
