<script lang="ts">
	import TableCell from './TableCell.svelte';
	import type { Props } from './utils';

	let { children }: Props = $props();
</script>

<TableCell textAlign="right">
	{@render children()}
</TableCell>
