<script lang="ts">
	import type { Props } from './utils';

	let {
		children,
		textAlign = 'left',
		...otherProps
	}: Props<{ textAlign?: 'center' | 'left' | 'right' }> = $props();
</script>

<td {...otherProps} style="text-align: {textAlign}">
	{@render children()}
</td>

<style>
	td {
		font-size: 1.6rem;
		font-weight: 600;
		height: 4.8rem;
		padding: 0 2rem;
		white-space: nowrap;
	}
</style>
