<script lang="ts">
	import Column from '$lib/Column.svelte';
	import Footer from '$lib/Footer.svelte';
	import type { Props } from '$lib/utils';

	let { children }: Props = $props();
</script>

{@render children()}
<Footer>
	<Column>
		<span>Créé avec SvelteKit</span> -
		<a
			href="https://gitlab.com/mlaopane/calculatrice-micro-entreprise"
			title="Code source du site"
			target="_blank">Le code source est disponible sur Gitlab</a
		>
		-
		<a
			href="https://www.flaticon.com/fr/icone-gratuite/calculatrice_1086438"
			title="calculatrice icônes"
			target="_blank">Calculatrice icônes créées par monkik (Flaticon)</a
		>
	</Column>
</Footer>

<style>
	span,
	a {
		color: #222;
		font-size: 1.3rem;
	}
</style>
