<script>
	import '@mlaopane/web-components';
	import CalculatorHeaderTitle from '$components/CalculatorHeaderTitle.svelte';
	import CalculatorMainDetails from '$components/CalculatorMainDetails.svelte';
	import CalculatorMainForm from '$components/CalculatorMainForm.svelte';
	import CalculatorMainTable from '$components/CalculatorMainTable.svelte';
	import Header from '$lib/Header.svelte';
	import Main from '$lib/Main.svelte';
	import Column from '$lib/Column.svelte';
</script>

<svelte:head>
	<title>Calculatrice micro-entreprise</title>
</svelte:head>

<Header>
	<Column>
		<CalculatorHeaderTitle />
	</Column>
</Header>

<Main>
	<Column>
		<CalculatorMainDetails />
		<CalculatorMainForm />
		<CalculatorMainTable />
	</Column>
</Main>
