<script lang="ts">
	import '@mlaopane/web-components';

	import CalculatorHeaderTitle from './CalculatorHeaderTitle.svelte';
	import CalculatorMainDetails from './CalculatorMainDetails.svelte';
	import CalculatorMainForm from './CalculatorMainForm.svelte';
	import CalculatorMainTable from './CalculatorMainTable.svelte';
	import Header from '../lib/Header.svelte';
	import Main from '../lib/Main.svelte';
	import Column from '../lib/Column.svelte';
</script>

<Header>
	<Column>
		<CalculatorHeaderTitle />
	</Column>
</Header>

<Main>
	<Column>
		<CalculatorMainDetails />
		<CalculatorMainForm />
		<CalculatorMainTable />
	</Column>
</Main>
