<h1>
	<span id="header-title__feature">Calculatrice</span>
	<span id="header-title__subject">micro-entreprise</span>
</h1>

<style>
	h1 {
		font-size: 3.2rem;
		line-height: 4rem;
		margin: 0px;
	}
	#header-title__subject {
		font-style: normal;
		white-space: nowrap;
	}
</style>
