<details id="calculator__main-details">
	<summary>Calculez les revenus de votre <strong>micro-entreprise</strong></summary>
	<div id="calculator__main-details__content">
		<p>
			Indiquez votre <strong>chiffre d'affaires</strong>
			<span aria-hidden="true">(CA)</span> annuel brut pour visualiser vos revenus ainsi que vos impôts
			et cotisations.
		</p>
		<p>
			Vous pouvez (en option) indiquer si vous bénéficiez d'une
			<strong>aide à la création ou à la reprise d'entreprise</strong>
			<span aria-hidden="true">(ACRE)</span>.
		</p>
	</div>
</details>

<style>
	details {
		display: inline-block;
		padding: 3rem 0rem;
	}
	summary {
		font-size: 1.8rem;
	}
	p {
		font-size: 1.6rem;
		margin-left: 1.6rem;
	}
	p:last-child {
		margin-bottom: 0rem;
	}
	strong {
		font-weight: 600;
	}
</style>
