<script>
	import CalculatorGrossRevenueField from './CalculatorGrossRevenueField.svelte';
	import CalculatorIsEligibleToAcreField from './CalculatorIsEligibleToAcreField.svelte';
</script>

<form id="calculator_main_form">
	<CalculatorGrossRevenueField />
	<CalculatorIsEligibleToAcreField />
</form>
